<template>
    <div class="wone-main-container"
         v-if="detailInfo != null"
         :data="faqData"
    >
        <section class="ask-contents">
            <div class="board-ask-title">문의사항</div>
            <div class="ask-line"></div>
            <el-row>
                <el-col :span="12" property="faqData.memberName">
                    <p class="ask-user" property="faqData.memberName">글쓴이 : {{faqData.memberName}} </p>
                </el-col>
                <el-col :span="12">
                    <p class="ask-time" property="faqData.askCreateDate">{{ faqData.askCreateDate }}</p>
                </el-col>
            </el-row>
            <el-input class="ask-input-box"
                type="textarea"
                :rows="17"
                placeholder="고객 문의사항 여기 들어감"
                v-model="faqData.askContent">
            </el-input>
        </section>
        <section class="answer-contents">
            <div class="board-answer-title">답변</div>
            <el-input class="answer-input-box"
                      type="textarea"
                      :rows="5"
                      placeholder=""
                      v-model="faqData.comment">
            </el-input>
            <div class="answer-button">
                <el-button class="answer-register-button" @click="putData"><i class="answer-register-text">등록</i></el-button>
            </div>
        </section>
    </div>
</template>

<script>
import {del} from "vue";

export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            detailInfo: null,
            faqData: {
                memberName:'',
                askCreateDate:'',
                askContent:'',
                comment:''
            }
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$faqConstants.DO_FAQ_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.faqData.memberName = res.data.data.memberName
                    this.faqData.askCreateDate = res.data.data.askCreateDate
                    this.faqData.askContent = res.data.data.askContent
                    this.faqData.comment = res.data.data.comment
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    console.log(res.data)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        putData() {
            let payload = {
                id : this.detailInfo.id,
                data: {
                    memberName: this.faqData.memberName,
                    askCreateDate: this.faqData.askCreateDate,
                    askContent: this.faqData.askContent,
                    comment: this.faqData.comment,
                }
            }

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$faqConstants.DO_FAQ_UPDATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/board/faq/board-ask`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_FAQ')
    }
}
</script>
