<template>
    <div class="wone-main-container">
        <section class="board-contents-register">
            <div class="board-contents-register-title">공지사항</div>
                <el-form :model="noticeForm" :rules="rules" ref="noticeForm">
                    <el-select v-model="noticeForm.boardType.value" placeholder="[게시판 선택]">
                        <el-option
                            v-for="item in noticeForm.boardType"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                    <div class="board-title">글 제목</div>
                    <el-input class="contents-input-box"
                              type="text"
                              id="boardTitle"
                              :rows="1"
                              placeholder="제목을 입력해주세요."
                              v-model="noticeForm.textTitle"
                              maxlength="40"
                              show-word-limit
                    >
                    </el-input>
                    <div class="board-title">글 내용</div>
                    <el-input class="contents-input-box"
                              type="textarea"
                              id="boardContent"
                              :rows="17"
                              placeholder="내용을 입력해주세요."
                              v-model="noticeForm.textarea1">
                    </el-input>
                </el-form>
            <div class="board-contents-register-button">
                <el-button class="board-contents-register-button" @click="doSetData()"><i class="board-contents-register-text">수정</i></el-button>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return{
            id: null,
            noticeForm:{
                textTitle: '',
                textarea1: '',
                boardType: [{
                    value: '공지사항',
                    label: 'NOTICE',
                    prop: 'NOTICE',
                }, {
                    value: '이용방법',
                    label: 'GUIDE',
                    prop: 'GUIDE',
                }],
            },
            rules: {
                textTitle: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:40, message:'2~40자 내로 입력해주세요.', trigger: 'blur'}
                ],
                textarea1: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
            }
        }
    },
    methods: {
        doSetData() {
            const formName = 'noticeForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            const payload = {
                textTitle: this.noticeForm.textTitle,
                textarea1: this.noticeForm.textarea1
            }
            this.$confirm('등록하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            })
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$boardConstants.DO_CREATE_NOTICE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`board-notice`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_NOTICE')
    }
}
</script>
