<template>
    <div class="wone-main-container">
        <section class="service-user-list-out-box">
            <div class="service-user-list-title">
                <p class="service-user-list">사용자 리스트</p>
                <el-input class="user-list-search-bar"
                      placeholder=""
                      prefix-icon="el-icon-search"
                      v-model="search">
                </el-input>
            </div>
            <div class="service-user-list-inner-box">
                <div class="user-list-table">
                <el-table
                    :data="tableData"
                    style="width: 100%"
                    @row-click="moveDetail"
                    >
                    <el-table-column
                        prop="id"
                        label="No"
                        width="150">
                    </el-table-column>
                    <el-table-column
                        prop="username"
                        label="사용자명"
                        width="200">
                    </el-table-column>
                    <el-table-column
                        prop="userId"
                        label="아이디"
                        width="250">
                    </el-table-column>
                    <el-table-column
                        prop="joinDate"
                        label="가입일"
                        width="250">
                    </el-table-column>
                    <el-table-column
                        prop="memberGroupType"
                        label="역할"
                        width="190">
                    </el-table-column>
                </el-table>
                </div>
                <div class="user-pagination">
                    <el-pagination
                        small
                        layout="prev, pager, next"
                        :total="totalCount"
                        :current-page="currentPage"
                        @current-change="setPage"
                    >
                    </el-pagination>
                </div>
            </div>
        </section>
    </div>
</template>


<script>

export default {
    // middleware: 'auth',
    data() {
        return {
            tableData: [],
            currentPage: 1,
            totalCount: 0,
            search:''
        }
        // this.$store.dispatch(this.$memberConstants.DO_MEMBER, payload)
    },
    methods: {
        setPage(currentPage) {
            this.currentPage = currentPage
            this.getList()
        },
        getList() {
            let payload = {
                pageNum: this.currentPage,
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_LIST_PAGING, payload)
                .then((res) => {
                    this.tableData = res.data.list
                    this.totalCount = res.data.totalCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveDetail(data) {
            let linkBaseUrl = '/member/'
            this.$router.push(`${linkBaseUrl}${data.id}`)
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'USER_LIST')
    }
}
</script>
