<template>
    <div class="wone-main-container">
        <section class="board-contents-register">
            <div class="board-contents-register-title">게시판 선택</div>
                <el-form
                    :model="noticeForm"
                    :rules="rules"
                    ref="noticeForm">
                    <el-select v-model="noticeForm.options.value" placeholder="[게시판 선택]">
                        <el-option
                            v-for="item in noticeForm.options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                    <div class="board-title">글 제목</div>
                    <el-input class="contents-input-box"
                              type="text"
                              id="boardTitle"
                              :rows="1"
                              v-model="noticeForm.textTitle"
                              maxlength="40"
                              prop="boardTitle"
                              show-word-limit
                    >
                    </el-input>
                    <div class="board-title">글 내용</div>
                    <el-input class="contents-input-box"
                              type="textarea"
                              id="boardContent"
                              :rows="17"
                              prop="boardContent"
                              v-model="noticeForm.textarea1">
                    </el-input>
                </el-form>
            <div class="board-contents-register-button">
<!--                <el-button class="board-contents-register-update-button" @click="update"><i class="board-contents-register-update-button-text">수정</i></el-button>-->
                <el-button class="board-contents-register-button" @click="doSetData()"><i class="board-contents-register-text">등록</i></el-button>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return{
            id: null,
            noticeForm:{
                textTitle: '',
                textarea1: '',
                options: [{
                    value: '공지사항',
                    label: 'NOTICE'
                }, {
                    value: '이용방법',
                    label: 'GUIDE'
                }],
            },
            rules: {
                textTitle: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:40, message:'2~40자 내로 입력해주세요.', trigger: 'blur'}
                ],
                textarea1: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
            }
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$boardConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.noticeForm.boardTitle = res.data.data.boardTitle
                    this.noticeForm.boardContent = res.data.data.boardContent
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        doSetData() {
            let formName = 'noticeForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                textTitle: this.noticeForm.textTitle,
                textarea1: this.noticeForm.textarea1
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$boardConstants.DO_CREATE_NOTICE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`board-notice`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_NOTICE')
    }
}
</script>
